/* Font Presets */
p {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}



/* Header */
header {
    background-color: blue;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    height: 60px;
    padding: 1%;
    text-align: center;
}

nav {
    background-color: chartreuse;
    width: 73%;
    padding: 1%;
}

ul {
    background-color: coral;
    width: 50%;
    margin-left: auto;
}


/* Hero Section */
.HeroImg {
    background-color: cyan;
    height: 600px;
    margin: 0 auto;
}


/* Footer */
footer {
    background-color: black;
    padding: center;
}

ul footer {
    display: inline-block;
    vertical-align: top;
    padding: center;
}


/* About Section */
.flexContainer {
    background-color: deeppink;
    display: flex;
    flex-direction: row;
}

.flexChild {
    background-color: deepskyblue;
    width: 300px;
    margin: 5%;
    padding: 5%;
}


/* Work Section */
.workGrid {
    background-color: mediumorchid;
    display: grid;
    grid-template-rows: 1/3 1/3 1/3;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'projectImage1 projectImage2 projectImage3'
    'projectText1 projectText2 projectText3';
}


.imgProject1 {
    grid-area: projectImage1;
}
.imgProject2 {
    grid-area: projectImage2;
}
.imgProject3 {
    grid-area: projectImage3;
}

.textProject1 {
    background-color: mediumpurple;
    grid-area: projectText1;
}
.textProject2 {
    background-color: mediumspringgreen;
    grid-area: projectText2;
}
.textProject3 {
    background-color: royalblue;
    grid-area: projectText3;
}


/* Mobile Media Query */
@media only screen and (max-width: 600px) {
    .flexContainer {
        background-color: slateblue;
        flex-direction: row;
    }

    .flexChild {
        background-color: slategrey;
        width: 100%;
    }

    .workGrid {
        background-color: tomato;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'projectImage1'
        'projectText1'
        'projectImage2'
        'projectText2'
        'projectImage3'
        'projectText3'
        ;
    }
}
